* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid black;
  width: 30vh;
  height: 30vh;
  display: flex;  
}

.aSide {
  border: 2px solid blue;
}

.bSide {
  border: 2px solid greenyellow;
}